sheader{
  background-color: #green; 
  height: 55px;
  width: 1450px;
  margin: auto;
}

p{
  display: inline-block;
  float : right;
  color : #ffffff;
  margin: 20px 50px 0 0;
  font-weight: bold;
  font-family: arial;
  font-size: 150%;
}

#park{
  height: 600px;
  width: 1450px;
  z-index: -1px;
}

h1{
  position: absolute;
  left: 495px;
  bottom: 500px;
  font-family: arial;
  font-size: 250%;
}

#dog1{
  position: absolute;
  left : 595px;
  bottom: 220px;
  height: 250px;
  width: 250px;
  border: 5px solid #85bfbe;
  border-radius: 50%;
}

h3{
  border: 2px solid #85bfbe;
  background-color: #ffffff;
  color: #85bfbe;
  padding: 5px;
  position: absolute;
  left: 665px;
  bottom: 130px;
}
.article1{
  background-color: #ffffff;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 20px;
  font-size: 150%;
  margin: 20px 20px 30px 20px;
  text-align: center;
}

h4{
  font-size: 150%;
  margin: 30px 10px 10px 0;
}

#dog2{
  height: 150px;
  width: 150px;
  border: 5px solid #85bfbe;
  border-radius: 50%;
  margin: 20px 20px 30px 5px;
}

h5{
  border: 2px solid #85bfbe;
  background-color: #ffffff;
  color: #85bfbe;
  padding: 5px;
  width: 120px;
  text-align: center;
  margin: 30px 10px 10px 130;
}

.article2{
  background-color: #ffffff;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 20px;
  font-size: 150%;
  text-align: center;
  position: absolute;
  left: 500px;
  top: 660px;
}

#dog3{
  height: 150px;
  width: 150px;
  border: 5px solid #85bfbe;
  border-radius: 50%;
  margin: 20px 20px 30px 5px;
}

.article3{
  background-color: #ffffff;
  padding: 20px;
  height: 300px;
  width: 400px;
  margin: 20px;
  font-size: 150%;
  text-align: center;
  position: absolute;
  left: 980px;
  top: 660px;
}

footer{
  position: relative;
  background-color: #99dbda; 
  top: 350px;
  height: 250px;
  text-align: center;
  color: #ffffff;
  font-family: arial;
  padding: 10px;
}







